version: '3.5'

services:

  querycoord:
    container_name: milvus-querycoord
    image: milvusdb/milvus:v2.0.0-rc1-20210628-b87baa1
    command: ["milvus", "run", "querycoord"]
    environment:
      ETCD_ENDPOINTS: {{etcd_ip}}:2379
      MINIO_ADDRESS: {{minio_ip}}:9000
      PULSAR_ADDRESS: pulsar://{{pulsar_ip}}:6650
      QUERY_COORD_ADDRESS: {{querycoord_ip}}:19531
    network_mode: "host"

  